<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>管理员首页</title>
    <link rel=stylesheet type="text/css" href="/css/adminHome.css"/>
    <script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/js/adminHome.js"></script>
</head>
<body>
<div id="navigation">
    <span id=title> 二手交易</span>
    <ul class="options">
        <li id="firstLi">
            <div id="firstPage">首页</div>
        </li>
        <li>
            <div id='auditUser'>用户注册审核</div>
        </li>
        <li>
            <div id="queryUser">用户信息查询</div>
        </li>
        <li>
            <div id='queryProduct'>商品信息查询</div>
        </li>
        <li>
            <div id='queryRecord'>订单查询</div>
        </li>
    </ul>
</div>
<div id="subHtml">
</div>
</body>
</html>