
<!DOCTYPE html>
<html lang="en" class="no-js">

    <head>

        <meta charset="utf-8">
        <title>Login</title>

        <!-- CSS -->
        <link rel="stylesheet" href="/css/login.css">
        <!--js-->
        <script type = "text/javascript" src = "/js/jquery-3.2.1.min.js"></script>
        <script type = "text/javascript" src = "/js/login.js"></script>
    </head>


    <body>
        <div class="page-container">
            <h1>Login</h1>
            <div id = "loginField">
                <input type="text" id="username" class="username" placeholder="Username">
                <input type="password" id="password" class="password" placeholder="Password">
                <button type="button" id = "loginButton">Sign me in</button>
            </div>
        </div>
    </body>

</html>

